/* Start of general CSS */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FF3633;
}

h1 {
    font-weight: 300;
}

.site {
    padding: 1rem 2.5%;
    text-align: center;
    color: white;
}

/* End of general CSS */

/* Start of pokedex CSS */

.grid-container {
    width: 100%;
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1.5rem;
    margin-top: 1rem;
}

.pokemon-card {
    background-color: #e0e0e0;
    color: black;
    overflow: auto;
    padding: 2.5rem;
    text-align: center;
    border-radius: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .2s;
}

.pokemon-card:hover {
    transform:scale(1.2);
    background-color: #ccc;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.6);
}

.pokemon-card img {
    height: 10rem;
}

.div-line {
    width: 10%;
    height: .2rem;
    margin: .5rem auto;
    background-color: #FF3633;
}

/* Start Pokemon info box (onClick) CSS */

.pokemon-info-container {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.visible {
    display: block;
}

/* Start Pokemon info box content CSS */

.pokemon-info-content {
    margin: 5% auto;
    background-color: #e0e0e0;
    padding: 2rem;
    width: 60rem;
    border-radius: 1rem;
    color: black;
    display: flex;
    flex-direction: row;
}

.closeBtn {
    display: none;
    float: right;
    flex: 0;
    font-size: 2rem;
}

.closeBtn:hover, .closeBtn:focus {
    color: #FF3633;
    text-decoration: none;
    cursor: pointer;
}

.pokemon-info-content .left {
    display: flex;
    width: 25%;
}

.pokemon-info-content .left img {
    height: 10rem;
    margin: auto;
}

.pokemon-info-content .right {
    width: 65%;
}

.pokemon-info-content p {
    margin-bottom: 1rem;
    font-size: .75rem;
}
