/* Start of general CSS */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FF3633;
}

.site {
    padding: 1rem 2.5%;
    text-align: center;
    color: white;
}

/* End of general CSS */

/* Start of pokedex CSS */

.grid-container {
    width: 100%;
}
